{erl_opts, [
    warnings_as_errors,
    {src_dirs, ["src", "_gen/dtos"]}
]}.

{deps, [
    {ndto, {git, "git@github.com:nomasystems/ndto.git", {branch, "main"}}},
    {njson, {git, "git@github.com:nomasystems/njson.git", {branch, "main"}}}
]}.

{pre_hooks, [
    {erlc_compile, "priv/escripts/erf_specs.escript"}
]}.

{post_hooks, [
    {clean, "rm -rf _gen/"}
]}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:WhatsApp/erlfmt.git", {branch, "main"}}},
    {gradualizer, {git, "git@github.com:josefs/Gradualizer.git", {branch, "master"}}}
]}.
{erlfmt, [write]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [
            {nct_util, {git, "git@github.com:nomasystems/nct_util.git", {branch, "main"}}}
        ]}
    ]}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer,
        gradualizer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"},
        cover
    ]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{xref_ignores, [
    erf,
    %% TODO: remove when erf.erl is fully implemented
    erf_dto,
    erf_parser,
    erf_router
]}.
