{erl_opts, [
    warnings_as_errors,
    {src_dirs, ["src", "_gen/dtos"]}
]}.

{deps, [
    {elli, {git, "git@github.com:elli-lib/elli.git", {branch, "main"}}},
    {ndto, {git, "git@github.com:nomasystems/ndto.git", {branch, "main"}}},
    {njson, {git, "git@github.com:nomasystems/njson.git", {branch, "main"}}}
]}.

{plugins, [
    {rebar3_ndto, {git, "https://github.com/nomasystems/rebar3_ndto.git", {branch, "main"}}}
]}.
{ndto, [
    {specs, [
        "priv/oas/3.0/specs/oas_3_0.json"
    ]}
]}.

{provider_hooks, [
    {pre, [
        {compile, {ndto, compile}},
        {clean, {ndto, clean}}
    ]}
]}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:WhatsApp/erlfmt.git", {branch, "main"}}},
    {gradualizer, {git, "git@github.com:josefs/Gradualizer.git", {branch, "master"}}}
]}.
{erlfmt, [write]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [
            {meck, {git, "git@github.com:eproxus/meck.git", {branch, "master"}}},
            {nct_util, {git, "git@github.com:nomasystems/nct_util.git", {branch, "main"}}}
        ]}
    ]}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer,
        gradualizer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"},
        cover
    ]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{xref_ignores, [
    erf,
    {erf_router, body, 1}
]}.

{gradualizer_opts, [
    %% TODO: address
    {exclude, ["src/erf_parser_oas_3_0.erl", "src/erf_router.erl"]}
]}.
