{erl_opts, [
    warnings_as_errors,
    {src_dirs, ["src", "_gen/dtos"]}
]}.

{deps, [
    {elli, {git, "https://github.com/elli-lib/elli.git", {branch, "main"}}},
    {ndto, {git, "https://github.com/nomasystems/ndto.git", {tag, "0.3.2"}}},
    {njson, {git, "https://github.com/nomasystems/njson.git", {tag, "2.0.0"}}}
]}.

{plugins, [
    {rebar3_ndto, {git, "https://github.com/nomasystems/rebar3_ndto.git", {tag, "0.3.1"}}}
]}.
{ndto, [
    {specs, [
        "priv/oas/3.0/specs/oas_3_0.json",
        "priv/oas/3.1/specs/oas_3_1.json"
    ]}
]}.

{provider_hooks, [
    {pre, [
        {compile, {ndto, compile}},
        {clean, {ndto, clean}}
    ]}
]}.

{project_plugins, [
    erlfmt,
    {gradualizer, {git, "https://github.com/josefs/Gradualizer.git", {tag, "0.3.0"}}},
    rebar3_ex_doc
]}.
{erlfmt, [write]}.

{profiles, [
    {examples, [
        {project_app_dirs, ["examples/users", "."]},
        {shell, [
            {apps, [users]}
        ]}
    ]},
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [
            {meck, {git, "https://github.com/eproxus/meck.git", {branch, "master"}}},
            {nct_util, {git, "https://github.com/nomasystems/nct_util.git", {branch, "main"}}}
        ]}
    ]}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer,
        gradualizer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"},
        cover
    ]},
    {doc, [
        {ex_doc, "-f html"}
    ]}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"CONTRIBUTING.md", #{title => "Contributing"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/nomasystems/erf"},
    {prefix_ref_vsn_with_v, false}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{cover_excl_mods, [
    erf_static
]}.

{xref_ignores, [
    erf,
    {erf_http_server, start_link, 4},
    {erf_http_server_elli, handle, 2},
    {erf_http_server_elli, handle_event, 3},
    {erf_router, handle, 2},
    {erf_static, mime_type, 1},
    erf_telemetry
]}.

{gradualizer_opts, [
    %% TODO: address
    {exclude, [
        "src/erf.erl",
        "src/erf_router.erl",
        "src/erf_telemetry.erl"
    ]}
]}.
